body{
    background-color: #E5E5E5;
    font-family: Montserrat;
    font-family: 'Montserrat', sans-serif;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);

}


.main{
    padding: 100px 90px;
}
.proff{
    font-style: normal;
    font-size: 14px; 
    font-weight: bold;
    color: black;
    line-height: 17px;
    margin-bottom: 20px;
} 
.name{
    font-style: normal;
    font-size: 45px;
    line-height: 55px;
    font-weight:bold;
    color: black;
    margin-bottom: 25px;
}
.description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}
.projects{
   margin-bottom: 50px;
    
}
.red{
    color: #FB6D3A;
}
.myt{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
.gray{
    color: #595959; 
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    
}
.separator{
    color: #000;
    font-weight: bold;
}
.crisis{
    padding: 0 0 0 18px;
}
.punkt{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.text{
    margin: 0 15px 0 0;
}

.mee{
     margin-bottom: 40px;
}
.two{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: black;
    margin-bottom: 10px; 
    
}
.projects_list{
    padding: 0 0 0 17px;
}
.point{
    color: #000;
    font-weight: bold;

}
.force{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
}
.forces{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.brackets{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}


.bar{
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}
.bar_contacts,
.tech_skill,
.soft_skill{
    margin: 50px 0 0 40px;
}
.headlines{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 10px;
}
.letters{
    color: #fff;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;

}
.contact{
    color: #565e6a;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
}
.list{
    padding: 0 0 0 17px;

}
.orange{
    color: #FB6D3A;

}
.dich{
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
}